.app-background {
  background: url(https://cdn.pixabay.com/photo/2014/04/02/10/22/hibiscus-303637_1280.png) no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
}

h1{
  color: #024731;
}

.parallax-one {
  background-image: url('/images/mic.jpg');
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-two {
  background-image: url('/images/convo.jpg');
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-three {
  background-image: url('/images/riffs.png');
  height: 100vh;
  width: 100vw;
  z-index: 101;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cent-text-one{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
}
.cent-text-two{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
}
.cent-text-three{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
}

.cent-text-one .border-one {
  color: #fff;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  font-size: 25px;
  font-weight: bolder;
}

.cent-text-two .border-two {
  color: #fff;
  padding-top: 38px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  font-size: 25px;
  font-weight: bolder;

}

.cent-text-three .border-three {
  color: #fff;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  font-size: 25px;
  font-weight: bolder;
}

.readable {
  color: white;
  font-weight: bold;
}

#naniTF {
  color:white;
  font-size: 18px;
  font-weight: bold;
}

#seg {
  color: black;
  background-color: darkgrey;
  font-size: 15px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#borders {
  border-style: solid;
  border-width: 4px;
  border-color: black;
}